[Unit]
Description=Run Rime UserDB Sync daily at 02:00

[Timer]
OnCalendar=*-*-* 02:00:00
AccuracySec=1min
Unit=rime-userdb-sync.service

[Install]
WantedBy=timers.target
