<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.rime-userdb-sync</string>

  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON_BIN__</string>
    <string>__INSTALL_ROOT__/cli.py</string>
    <string>sync</string>
    <string>--config</string>
    <string>__CONFIG_PATH__</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__INSTALL_ROOT__</string>

  <key>RunAtLoad</key>
  <false/>

  <key>StartInterval</key>
  <integer>1800</integer>

  <key>ProcessType</key>
  <string>Background</string>

  <key>StandardOutPath</key>
  <string>__LOG_ROOT__/stdout.log</string>

  <key>StandardErrorPath</key>
  <string>__LOG_ROOT__/stderr.log</string>
</dict>
</plist>
